[flake8]
ignore = E501,F403,F401,W503,W504,W291,E741,F901,E203
max-line-length = 160
exclude =
    .git
    .ve
    setup.py
    test.py
    Makefile,
    README.md,
    requirements.txt
    requirements-ci.txt
    __pycache__
    .DS_Store
    docker-compose.yml
